# OS & IDE
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# Build outputs
**/build/
**/out/
**/.next/
**/node_modules/

# Environment & Local Storage
.env
.env.local
.env*.local
uploads/

# Gradle
.gradle/
**/gradle/wrapper/gradle-wrapper.jar
